* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --orange-50: #fee9c3;
  --orange-100: #fddb9b;
  --orange-200: #fccc73;
  --orange-300: #fbbe4b;
  --orange-400: #faa916;
  --orange-500: #f19e04;
  --orange-600: #c98403;
  --orange-700: #a16902;
  --orange-800: #794f01;
  --orange-900: #513501;

  --black: #1b1b1e;
  --white: #fdfdfd;
  --gray: #6d676e;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Poppins", serif;
  font-weight: 400;
}

.logo {
  font-family: "Oswald", serif;
}

a {
  text-decoration: none;
  color: black;
}
