* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --orange-50: #fee9c3;
  --orange-100: #fddb9b;
  --orange-200: #fccc73;
  --orange-300: #fbbe4b;
  --orange-400: #faa916;
  --orange-500: #f19e04;
  --orange-600: #c98403;
  --orange-700: #a16902;
  --orange-800: #794f01;
  --orange-900: #513501;

  --black: #1b1b1e;
  --white: #fdfdfd;
  --gray: #6d676e;
  --overlay: #513501e8;

  /* Font-size */
  --h3: 4em;
  --h5: 1.6em;
  --p: 14px;
}

body {
  background-color: var(--orange-500);
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Poppins", serif;
  font-weight: 400;
  /* font-size: 1em; */
}

h3 {
  font-size: var(--h3);
  line-height: 80px;
}

h5 {
  font-size: var(--h5);
  line-height: 40px;
}

.logo {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* Container padding */
.navbar-container,
.hero-container,
.feature-container {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

/* ----------- Navbar ----------- */
.navbar {
  background: var(--orange-500);
  border-bottom: solid 0.5px var(--white);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navlist {
  height: 47px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2px;
  color: var(--white);
}

/* ----------- Hero ----------- */
.hero {
  height: 400px;
  display: grid;
  place-items: center;
}

.hero-container {
  width: 100%;
  color: var(--white);
}

.hero-content {
  margin-bottom: 35px;
}

.searchbar {
  position: relative;
}

input::placeholder {
  color: var(--orange-500);
}

.searchbar input {
  width: 100%;
  outline: none;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  color: var(--black);
}

.search-btn {
  position: absolute;
  top: 0.5px;
  right: 0.5px;
  height: 98%;
  padding: 0 3.6em;
  border-radius: 50px;
  border: none;
  background-color: var(--orange-100);
  color: var(--black);
  cursor: pointer;

  transition: all 0.15s ease;
}

.search-btn:hover {
  background-color: var(--orange-800);
  color: var(--white);
}

/* ----------- Feature Section ----------- */
.feature h5 {
  color: var(--white);
}

.cards {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  width: 250px;
  height: 300px;
  background-color: var(--orange-100);
  position: relative;
  z-index: 1;
}

.cardFrame {
  width: 100%;
  height: 80%;
  border: solid 6px var(--white);
  border-radius: 10px;
  z-index: 2;

  position: absolute;
  bottom: 0;
  left: 0;
}

.card-img-container {
  width: 180px;
  height: 250px;
  z-index: 3;
  border-radius: 10px;
  border: solid 2px black;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cardImg {
  width: 100%;
}

.wishlist {
  width: 10px;
  height: 10px;
  background-color: var(--gray);
  opacity: 0;
}
