* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --orange-50: #fee9c3;
  --orange-100: #fddb9b;
  --orange-200: #fccc73;
  --orange-300: #fbbe4b;
  --orange-400: #faa916;
  --orange-500: #f19e04;
  --orange-600: #c98403;
  --orange-700: #a16902;
  --orange-800: #794f01;
  --orange-900: #513501;

  --black: #1b1b1e;
  --white: #fdfdfd;
  --gray: #6d676e;
  --overlay: #513501e8;
  --white-overlay: #fdfdfd7b;

  /* Font-size */
  --h3: 4em;
  --h5: 1.6em;
  --h6: 1em;
  --p: 0.8em;
}

body {
  background-color: var(--orange-500);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", serif;
  font-weight: 400;
  /* font-size: 1em; */
}

h3 {
  font-size: var(--h3);
  line-height: 53px;
}

h5 {
  font-size: var(--h5);
  line-height: 40px;
}

.logo {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* Container padding */
.navbar-container,
.hero-container,
.feature-container {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

/* ----------- Navbar ----------- */
.navbar {
  background: var(--orange-500);
  border-bottom: solid 0.5px var(--white);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navlist {
  height: 47px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2px;
  color: var(--white);
}

/* ----------- Hero ----------- */
.hero {
  height: 400px;
  display: grid;
  place-items: center;
  /* border-bottom: solid 1px black; */
}

.hero-container {
  width: 100%;
  color: var(--white);
}

.hero-content {
  margin-bottom: 35px;
}

.hero-content h3 {
  margin-bottom: 20px;
}

.searchbar {
  position: relative;
}

input::placeholder {
  color: var(--orange-500);
}

.searchbar input {
  width: 100%;
  outline: none;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  color: var(--black);
}

.search-btn {
  position: absolute;
  top: 0.5px;
  right: 0.5px;
  height: 98%;
  padding: 0 3.6em;
  border-radius: 50px;
  border: none;
  background-color: var(--orange-100);
  color: var(--black);
  cursor: pointer;

  transition: all 0.15s ease;
}

.search-btn:hover {
  background-color: var(--orange-600);
  color: var(--white);
}

/* ----------- Feature Section ----------- */
.feature {
  padding: 60px 0;
  background: var(--orange-300);
}

.feature h5 {
  color: var(--white);
}

.feature-header {
  margin-bottom: 40px;
}

.cards {
  display: grid;
  place-items: center;
  gap: 0.6em;
  row-gap: 1.6em;
  grid-template-columns: repeat(4, auto);
}

.card {
  width: 210px;
  height: 350px;
  position: relative;
  z-index: 1;
}

.cardFrame {
  width: 100%;
  height: 80%;
  border: solid 6px var(--white);
  border-radius: 10px;
  z-index: 2;
  background: var(--orange-600);

  position: absolute;
  bottom: 0;
  left: 0;

  box-shadow: 0px 0.7px 1.9px -7px rgba(0, 0, 0, 0.025),
    0px 1.7px 4.7px -7px rgba(0, 0, 0, 0.036),
    0px 3.1px 8.8px -7px rgba(0, 0, 0, 0.045),
    0px 5.6px 15.6px -7px rgba(0, 0, 0, 0.054),
    0px 10.4px 29.2px -7px rgba(0, 0, 0, 0.065),
    0px 25px 70px -7px rgba(0, 0, 0, 0.09);
}

.card-content {
  width: 170px;
  height: 350px;
  /* background-color: var(--orange-100); */
  z-index: 3;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card-img-container {
  width: 170px;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0px 0.4px 0.4px rgba(0, 0, 0, 0.028),
    0px 0.9px 1px rgba(0, 0, 0, 0.041), 0px 1.6px 1.7px rgba(0, 0, 0, 0.051),
    0px 2.7px 2.9px rgba(0, 0, 0, 0.059), 0px 4.5px 4.8px rgba(0, 0, 0, 0.069),
    0px 7.9px 8.3px rgba(0, 0, 0, 0.082), 0px 17px 18px rgba(0, 0, 0, 0.11);
}

.cardImg {
  width: 100%;
}

.wishlist {
  width: 26px;
  height: 26px;
  background-color: var(--overlay);
  border-radius: 50%;
  opacity: 1;
  z-index: 4;
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 10px;

  display: grid;
  place-items: center;
}

.wishlist i {
  color: var(--white);
}

.card-text-content {
  width: 100%;
  height: 100px;
  /* background-color: var(--orange-700); */
  padding: 10px;
}

.title {
  font-size: var(--h6);
  line-height: 20px;
  margin-bottom: 10px;
  color: var(--white);
}

.airDate {
  font-size: var(--p);
  color: var(--white);
}
